{% include 'partials/header.html' %}

{% if user.is_authenticated %}
<ul>
    {% load static %}
    {% for todo in todos %}
    {% csrf_token %}
    <li><a href="/todos/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}
        &emsp;<a href="/todos/delete/{{todo.id}}"><img src="{% static "icons/trashbin2.png" %}" alt="(Delete)" style="width:30px;height:30px;"></a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Please login to see this section</p>
{% endif %}

<p><a href="/">Home</a></p>
{% include 'partials/footer.html' %}
